{% extends 'base.html.twig' %}

{% block body %}
    <!-- Header-->
    <header class="py-2">
        <div class="container px-lg-5">
            <div class="p-2 bg-light rounded-3 text-center">
                <div class="m-4 m-lg-5">
                    <h2 class="display-7 fw-bold">WITAMY!</h2>
                    <p class="fs-5">{{ logged.getUserName() }} {{ logged.getUserLastName() }}</p>
                    <a href="{{ path('app_car') }}" class="btn btn-primary">Lista samochodów</a>
                    <a href="{{ path('car_add') }}" class="btn btn-primary">Dodaj nowy samochód</a>
                </div>
            </div>
        </div>
    </header>

{% endblock %}